<a href="https://colab.research.google.com/github/sprashant19/Task/blob/main/Codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a code to get the input in the given format and print the output in the
given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :

2

Sample Output :

2

In [ ]:
N=int(input("Enter the Integer: "))
print(N)

Enter the Integer: 10
10

2.Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input : 
2 3 4 5 6 7 8
Sample Output : 
2 3 4 5 6 7 8

In [ ]:
n=list(map(int,input().split()))
print(*n)

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [ ]:
n=list(map(int,input().split()))
a=list(map(int,input().split()))
print(*n)
print(*a)

5 3
1 2 3 4 5
5 3
1 2 3 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:

First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:

Print the input in the same format.

Sample Input :

2 4

2 4

2 4

Sample Output :

2 4

2 4

2 4

In [ ]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=list(map(int,input().split()))
print(*a)
print(*b)
print(*c)

2 4
2 4
2 4
2 4
2 4
2 4

Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :

2

4

5

Sample Output :

2 4 5

In [ ]:
a=int(input())
b=int(input())
c=int(input())
print(a,b,c)

2
4
5
2 4 5

First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :

2 5

2 5 6

2 4 5

Sample Output :

2 5

2 5 6

2 4 5

In [ ]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=list(map(int,input().split()))
print(*a)
print(*b)
print(*c)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :

guvi

Sample Output :

g u v i

In [ ]:
i=str(input())
c=[]
for item in i:
  c.append(item)
print(*c)

prashant
p r a s h a n t

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :

2.3 4.5 7.8

Sample Output :

2.3

4.5

7.8

In [ ]:
n=list(map(float,input().split()))
for item in n:
  print(item)

2.3 4.5 7.8
2.3
4.5
7.8

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :

guvigeek

Sample Output :

g

u

v

i

g

e

e

k

In [ ]:
name=str(input())
for item in name:
  print(item)

guvigeek
g
u
v
i
g
e
e
k

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :

guvi

Sample Output :

g,u,v,i

In [ ]:
s=str(input())
for i in s:
  printi,",")

guvi
g ,
u ,
v ,
i ,

**STRINGS**

In [1]:
#Sort words in Alphabetical order
str1 = input()
words = str1.split()
words.sort()

for word in words:
  print(word)

Python is easy to learn
Python
easy
is
learn
to

In [3]:
#Remove punctuation from a sentence
punc =  '''''!()-[]{};:'"\,<>./?@#$%^&*_~'''  
str1 = input("Enter the sentence : ")

no_punc = ""

for char in str1:
  if char not in punc:
    no_punc = no_punc + char

print(no_punc)

Enter the sentence : Hey, all this is my "first program".
Hey all this is my first program

In [5]:
# reverse a string
str1 = input()

str1 = str1[::-1]

print(str1)

Prashant
tnahsarP

In [6]:
# Convert list to string
a_list =["Python","Convert","List","String","Method"]

str1 = " ".join(a_list)
print(str1)

Python Convert List String Method

In [7]:
#Convert list to string when list contains integer elements
a_list =["Python",11,"Convert","List",12,"String",14,"Method"]

str1=" ".join(map(str,a_list))

print(str1)

Python 11 Convert List 12 String 14 Method

In [8]:
#Convert list to string when list contains integer elements using list comprehension
a_list =["Python",11,"Convert","List",12,"String",14,"Method"]

str1=" ".join(str(elements) for elements in a_list)

print(str1)

Python 11 Convert List 12 String 14 Method

In [9]:
#Convert string using iteration
a_list =["Python","Convert","List","String","Method"]

str1=""

for element in a_list:
  str1=str1 + " " + element

print(str1)

 Python Convert List String Method

In [12]:
#concatenate two strings using + operator

str1=input("Enter first string : ")
str2=input("Enter second string : ")

str3 = str1 + str2

print(str3)

Enter first string : Pras
Enter second string : hant
Prashant

In [13]:
#Concatenate two strings using join()
str1=input("Enter first string : ")
str2=input("Enter second string : ")

str3 = " ".join([str1,str2])

print(str3)

Enter first string : Python
Enter second string : Programs
Python Programs

In [14]:
#Concatenate two strings using % operator
str1=input("Enter first string : ")
str2=input("Enter second string : ")

print("%s%s"%(str1,str2))

Enter first string : Python
Enter second string : Program
PythonProgram

In [15]:
#Concatenate two strings using format function
str1=input("Enter first string : ")
str2=input("Enter second string : ")

print("{} {}".format(str1,str2))

Enter first string : Python
Enter second string : Programming
Python Programming

**LISTS**