<a href="https://colab.research.google.com/github/sprashant19/Task/blob/main/Python_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Let "A"  be a string. Remove all the whitespaces and find it's length.

In [2]:
A=str(input())
count=0
for i in range(0,len(A)):
  if (A[i]!=" "):
    count=count+1
print(count)

Lorem Ipsum
10

2. You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

In [3]:
N=int(input())
c=[]
if N>0:
    for i in range(1,N+1):
        p=i*i
        c.append(p)
    print(c[N-1])
elif N==0:
  print(0)
else:
  print("Error")

5
25

3. Write a code to get an integer N and print the sum of  values from 1 to N.

In [4]:
N=int(input())
sum=0
for i in range(1,N+1):
  sum=i+sum
print(sum)

5
15

4. You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

In [5]:
A=int(input())
B=int(input())
C=A+B
print(C)

5
4
9

5. Write a program to get a string as input and reverse the string without using temporary variable.

In [6]:
str1=str(input())
str1=str1[::-1]
print(str1)

Python
nohtyP

6. You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

In [7]:
A=float(input())
if A>=0:
  C=2*(22/7)*A
  c=round(C,2)
  print(c)
else:
  print("Error")

2.5
15.71

7. Write a code to get an integer N and print the values from N to 1.

In [8]:
n=int(input())
for i in range(1,n+1):
  print(n)
  n=n-1

10
10
9
8
7
6
5
4
3
2
1

8. Write a code get an integer number as input and print the sum of the digits.

In [10]:
n=int(input())
s=0
while (n>0):
  N=n%10
  s=s+N
  n=n//10
print(s)

123
6

9. Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

In [11]:
A=int(input())
if A%4==0:
  print("Y")
else:
  print("N")

2012
Y

10. You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

In [13]:
N=int(input())
if N  in [1,3,5,7,8,10,12]:
  print(31)
elif N in [4,6,9,11]:
  print(30)
elif N==2:
  print(28)
else:
  print("Error")

5
31

11. Write a code to get an integer N and print values from 1 till N in a separate line.

In [15]:
N=int(input())
for i in range(1,N+1):
    print(i)

20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

12. Write a code to get an integer N and print the even values from 1 till N in a separate line.

In [16]:
N=int(input())
for i in range(1,N+1):
    if(i%2==0):
        print(i)
    else:
        continue

10
2
4
6
8
10

13. Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

In [17]:
A,N=[int(A) for A in input().split()]
for i in range(0,N):
  print(A)

2 3
2
2
2

14. You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

In [18]:
A=int(input())
B=A*1000
C=A*100000
print(B)
print(C)

5
5000
500000

15. You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

In [20]:
A=float(input())
print(round((A*1.8)+32,2))

43
109.4

16. Write a code to get the input and print it 5 times.

In [21]:
a=input()
for i in range(5):
    print(a)

25
25
25
25
25
25

17. You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

In [25]:
A=int(input())
B=int(input())
if A<0 or B<0:
    print("Negative Number")
else:
    Area=A*B
    print(Area)

-52
45
Negative Number

18. You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

In [26]:
P,I,T=[float(x) for x in input().split()]
SI = P*I*T/100
print(round(SI,2))

1000 2 5
100.0

19. You are provided with a number, "N". Find its factorial.

In [27]:
a=int(input())
factorial=1
if a<0:
    print(a)
elif a==0:
    print(1)
else:
    for i in range(1,a+1):
        factorial=factorial*i
    print(factorial)

5
120

20. You are given three numbers A, B & C. Print the largest amongst these three numbers.

In [29]:
A=int(input())
B=int(input())
C=int(input())
if A>=B & A>=C:
    print(A)
elif B>=A & B>=C:
    print(B)
else:
    print(C)

45
14
78
78